<%= form_for(site_info) do |f| %>
  <% if site_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site_info.errors.count, "error") %> prohibited this site_info from being saved:</h2>

      <ul>
      <% site_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>

  <div class="field">
    <%= f.label :heading %>
    <%= f.text_field :heading %>
  </div>

  <div class="field">
    <%= f.label :subheading %>
    <%= f.text_field :subheading %>
  </div>

  <div class="field">
    <%= f.label :lead %>
    <%= f.text_area :lead %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
